.flex {
    display: flex;
}

.space-between {
    justify-content: space-between;
}

.space-around {
    justify-content: space-around;
}

.flex-column {
    flex-direction: column;
}

.align-center {
    align-items: center;
}

.full-width-center {
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    font-size: 1.5em;
}
