body,
html {
  margin: 0;
  height: 100%;
}

* {
  box-sizing: border-box;
}

:root {
  --water: #03a9f4;
  --disabled: grey;
}

body {
  display: grid;
  justify-items: center;
  align-items: center;
}

input {
  position: absolute;
}

.screen {
  /*
  height: 480px;
  width: 800px;
  */
  height: 100%;
  overflow: hidden;
  background: #fff;
}

.pipe {
  stroke-dasharray: 0;
  stroke-dashoffset: 0;
  stroke-width: 8;
  stroke-linecap: round;
  transition: all ease-out 2s;
}

.pipe-back {
  stroke-width: 24;
  z-index: -2;
  stroke: grey;
  opacity: 1;
}

.pipe-flowing {
  stroke-dasharray: 12;
  animation: pipe-flow linear 0.3s infinite;
}

@keyframes pipe-flow {
  from {
    stroke-dashoffset: 48;
  }

  to {
    stroke-dashoffset: 0;
  }
}
