body,
html {
  margin: 0;
  height: 100%;
}

* {
  box-sizing: border-box;
}

:root {
  --water: #03a9f4;
  --disabled: grey;
}

body {
  display: grid;
  justify-items: center;
  align-items: center;
}

main {
  position: relative;
  height: 100%;
}

.screen {
  height: 100%;
  background: #fff;
}

.range-control {
  position: absolute;
  display: grid;
  align-items: flex-end;
  justify-items: center;
  pointer-events: none;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
}

input {
  margin-bottom: 48px;
  pointer-events: all;
}

.pipe {
  stroke-dasharray: 0;
  stroke-dashoffset: 0;
  stroke-width: 16;
  stroke-linecap: round;
  stroke: var(--disabled);
  transition: none ease-out 2s;
}

.valve-end {
  fill: grey;
}

.pipe-back {
  stroke-width: 30;
  stroke: grey;
  opacity: 1;
}

.enabled {
  fill: var(--water);
}

.pipe.enabled {
  stroke: var(--water);
}

.pipe.enabled.flowing {
  animation: pipe-flow linear infinite;
  stroke-dasharray: 10;
}

@keyframes pipe-flow {
  from {
    stroke-dashoffset: 20;
  }

  to {
    stroke-dashoffset: 0;
  }
}
